<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ef.jcpt.trade.dao.PayInfoMapper">
  <resultMap id="BaseResultMap" type="com.ef.jcpt.trade.dao.model.PayInfo">
    <id column="flow_id" jdbcType="VARCHAR" property="flowId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="order_content" jdbcType="VARCHAR" property="orderContent" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="pay_channel" jdbcType="VARCHAR" property="payChannel" />
    <result column="pay_status" jdbcType="VARCHAR" property="payStatus" />
    <result column="hand_fee" jdbcType="DECIMAL" property="handFee" />
    <result column="request_param" jdbcType="VARCHAR" property="requestParam" />
    <result column="response_content" jdbcType="VARCHAR" property="responseContent" />
    <result column="pay_memo" jdbcType="VARCHAR" property="payMemo" />
    <result column="fail_reason" jdbcType="VARCHAR" property="failReason" />
    <result column="return_flow" jdbcType="VARCHAR" property="returnFlow" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    flow_id, order_id, user_id, order_content, pay_amount, pay_channel, pay_status, hand_fee, 
    request_param, response_content, pay_memo, fail_reason, return_flow, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ef_pay_info
    where flow_id = #{flowId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ef_pay_info
    where flow_id = #{flowId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ef.jcpt.trade.dao.model.PayInfo">
    insert into ef_pay_info (flow_id, order_id, user_id, 
      order_content, pay_amount, pay_channel, 
      pay_status, hand_fee, request_param, 
      response_content, pay_memo, fail_reason, 
      return_flow, create_time, update_time
      )
    values (#{flowId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{orderContent,jdbcType=VARCHAR}, #{payAmount,jdbcType=DECIMAL}, #{payChannel,jdbcType=VARCHAR}, 
      #{payStatus,jdbcType=VARCHAR}, #{handFee,jdbcType=DECIMAL}, #{requestParam,jdbcType=VARCHAR}, 
      #{responseContent,jdbcType=VARCHAR}, #{payMemo,jdbcType=VARCHAR}, #{failReason,jdbcType=VARCHAR}, 
      #{returnFlow,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ef.jcpt.trade.dao.model.PayInfo">
    insert into ef_pay_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flowId != null">
        flow_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderContent != null">
        order_content,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="payChannel != null">
        pay_channel,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="handFee != null">
        hand_fee,
      </if>
      <if test="requestParam != null">
        request_param,
      </if>
      <if test="responseContent != null">
        response_content,
      </if>
      <if test="payMemo != null">
        pay_memo,
      </if>
      <if test="failReason != null">
        fail_reason,
      </if>
      <if test="returnFlow != null">
        return_flow,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flowId != null">
        #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orderContent != null">
        #{orderContent,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payChannel != null">
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="handFee != null">
        #{handFee,jdbcType=DECIMAL},
      </if>
      <if test="requestParam != null">
        #{requestParam,jdbcType=VARCHAR},
      </if>
      <if test="responseContent != null">
        #{responseContent,jdbcType=VARCHAR},
      </if>
      <if test="payMemo != null">
        #{payMemo,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null">
        #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="returnFlow != null">
        #{returnFlow,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.jcpt.trade.dao.model.PayInfo">
    update ef_pay_info
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orderContent != null">
        order_content = #{orderContent,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="payChannel != null">
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="handFee != null">
        hand_fee = #{handFee,jdbcType=DECIMAL},
      </if>
      <if test="requestParam != null">
        request_param = #{requestParam,jdbcType=VARCHAR},
      </if>
      <if test="responseContent != null">
        response_content = #{responseContent,jdbcType=VARCHAR},
      </if>
      <if test="payMemo != null">
        pay_memo = #{payMemo,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null">
        fail_reason = #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="returnFlow != null">
        return_flow = #{returnFlow,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where flow_id = #{flowId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.jcpt.trade.dao.model.PayInfo">
    update ef_pay_info
    set order_id = #{orderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      order_content = #{orderContent,jdbcType=VARCHAR},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      hand_fee = #{handFee,jdbcType=DECIMAL},
      request_param = #{requestParam,jdbcType=VARCHAR},
      response_content = #{responseContent,jdbcType=VARCHAR},
      pay_memo = #{payMemo,jdbcType=VARCHAR},
      fail_reason = #{failReason,jdbcType=VARCHAR},
      return_flow = #{returnFlow,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where flow_id = #{flowId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ef_pay_info
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
</mapper>