<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ef.jcpt.trade.dao.PhoneSupportOperatorMapper">
	<resultMap id="BaseResultMap"
		type="com.ef.jcpt.trade.dao.model.PhoneSupportOperator">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="phone_model" jdbcType="VARCHAR" property="phoneModel" />
		<result column="user_nation_code" jdbcType="VARCHAR" property="userNationCode" />
		<result column="support_operator" jdbcType="INTEGER" property="supportOperator" />
		<result column="operator_status" jdbcType="VARCHAR" property="operatorStatus" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, phone_model, user_nation_code, support_operator,
		operator_status,
		remark, create_time,
		update_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ef_phone_support_operator
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ef_phone_support_operator
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ef.jcpt.trade.dao.model.PhoneSupportOperator">
		insert into
		ef_phone_support_operator (id, phone_model, user_nation_code,
		support_operator, operator_status, remark,
		create_time, update_time)
		values (#{id,jdbcType=INTEGER}, #{phoneModel,jdbcType=VARCHAR},
		#{userNationCode,jdbcType=VARCHAR},
		#{supportOperator,jdbcType=INTEGER},
		#{operatorStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.ef.jcpt.trade.dao.model.PhoneSupportOperator">
		insert into ef_phone_support_operator
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="phoneModel != null">
				phone_model,
			</if>
			<if test="userNationCode != null">
				user_nation_code,
			</if>
			<if test="supportOperator != null">
				support_operator,
			</if>
			<if test="operatorStatus != null">
				operator_status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="phoneModel != null">
				#{phoneModel,jdbcType=VARCHAR},
			</if>
			<if test="userNationCode != null">
				#{userNationCode,jdbcType=VARCHAR},
			</if>
			<if test="supportOperator != null">
				#{supportOperator,jdbcType=INTEGER},
			</if>
			<if test="operatorStatus != null">
				#{operatorStatus,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ef.jcpt.trade.dao.model.PhoneSupportOperator">
		update ef_phone_support_operator
		<set>
			<if test="phoneModel != null">
				phone_model = #{phoneModel,jdbcType=VARCHAR},
			</if>
			<if test="userNationCode != null">
				user_nation_code = #{userNationCode,jdbcType=VARCHAR},
			</if>
			<if test="supportOperator != null">
				support_operator = #{supportOperator,jdbcType=INTEGER},
			</if>
			<if test="operatorStatus != null">
				operator_status = #{operatorStatus,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ef.jcpt.trade.dao.model.PhoneSupportOperator">
		update
		ef_phone_support_operator
		set phone_model =
		#{phoneModel,jdbcType=VARCHAR},
		user_nation_code =
		#{userNationCode,jdbcType=VARCHAR},
		support_operator =
		#{supportOperator,jdbcType=INTEGER},
		operator_status =
		#{operatorStatus,jdbcType=VARCHAR},
		remark =
		#{remark,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="seletOperatorByPhoneModelAndNationCode"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ef_phone_support_operator
		where operator_status='01' and
		phone_model = #{phoneModel,jdbcType=VARCHAR} and user_nation_code =
		#{nationCode,jdbcType=VARCHAR}
	</select>
</mapper>