<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ef.jcpt.manage.dao.PhoneSupportStandardMapper">
  <resultMap id="BaseResultMap" type="com.ef.jcpt.manage.dao.model.PhoneSupportStandard">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone_model" jdbcType="VARCHAR" property="phoneModel" />
    <result column="mobile_network_standard" jdbcType="VARCHAR" property="mobileNetworkStandard" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone_model, mobile_network_standard, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ef_phone_support_standard
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ef_phone_support_standard
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ef.jcpt.manage.dao.model.PhoneSupportStandard">
    insert into ef_phone_support_standard (id, phone_model, mobile_network_standard, 
      remark, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{phoneModel,jdbcType=VARCHAR}, #{mobileNetworkStandard,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ef.jcpt.manage.dao.model.PhoneSupportStandard" keyProperty="id" useGeneratedKeys="true">
    insert into ef_phone_support_standard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phoneModel != null">
        phone_model,
      </if>
      <if test="mobileNetworkStandard != null">
        mobile_network_standard,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phoneModel != null">
        #{phoneModel,jdbcType=VARCHAR},
      </if>
      <if test="mobileNetworkStandard != null">
        #{mobileNetworkStandard,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.jcpt.manage.dao.model.PhoneSupportStandard">
    update ef_phone_support_standard
    <set>
      <if test="phoneModel != null">
        phone_model = #{phoneModel,jdbcType=VARCHAR},
      </if>
      <if test="mobileNetworkStandard != null">
        mobile_network_standard = #{mobileNetworkStandard,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.jcpt.manage.dao.model.PhoneSupportStandard">
    update ef_phone_support_standard
    set phone_model = #{phoneModel,jdbcType=VARCHAR},
      mobile_network_standard = #{mobileNetworkStandard,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<select id="selectPhoneSupportOperator" resultType="java.util.Map">
		SELECT
		sstand.phone_model,operator.nation_code,operator.id,operator.operator_name
		from ef_phone_support_standard sstand,ef_operator_info operator where
		sstand.mobile_network_standard=operator.network_standard and
		sstand.phone_model=#{phoneModel,jdbcType=VARCHAR} and
		sstand.mobile_network_standard=#{standard,jdbcType=VARCHAR}
	</select>

	<select id="listPhoneModelSupportStandardByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ef_phone_support_standard

		where mobile_network_standard is null
		<if test="pageSize != null and start !=null ">
			limit #{start},#{pageSize}
		</if>
	</select>

	<select id="countPhoneModelSupportStandardByPage" resultType="java.lang.Integer">
		select count(*)
		from
		ef_phone_support_standard
		where
		mobile_network_standard is null
	</select>
	
	<select id="selectPhoneSupportStandard" resultType="java.lang.Integer">
		select count(*)
		from
		ef_phone_support_standard
		where
		phone_model =#{phoneModel,jdbcType=VARCHAR}
	</select>
</mapper>