<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ef.jcpt.manage.dao.PopadsModelMapper">
  <resultMap id="BaseResultMap" type="com.ef.jcpt.manage.dao.model.PopadsModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="model_desc" jdbcType="VARCHAR" property="modelDesc" />
    <result column="model_content" jdbcType="VARCHAR" property="modelContent" />
    <result column="model_status" jdbcType="VARCHAR" property="modelStatus" />
    <result column="model_type" jdbcType="INTEGER" property="modelType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, model_name, model_desc, model_content, model_status, model_type, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ef_popads_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ef_popads_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ef.jcpt.manage.dao.model.PopadsModel">
    insert into ef_popads_model (id, model_name, model_desc, 
      model_content, model_status, model_type, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{modelName,jdbcType=VARCHAR}, #{modelDesc,jdbcType=VARCHAR}, 
      #{modelContent,jdbcType=VARCHAR}, #{modelStatus,jdbcType=VARCHAR}, #{modelType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ef.jcpt.manage.dao.model.PopadsModel">
    insert into ef_popads_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelName != null">
        model_name,
      </if>
      <if test="modelDesc != null">
        model_desc,
      </if>
      <if test="modelContent != null">
        model_content,
      </if>
      <if test="modelStatus != null">
        model_status,
      </if>
      <if test="modelType != null">
        model_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelName != null">
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelDesc != null">
        #{modelDesc,jdbcType=VARCHAR},
      </if>
      <if test="modelContent != null">
        #{modelContent,jdbcType=VARCHAR},
      </if>
      <if test="modelStatus != null">
        #{modelStatus,jdbcType=VARCHAR},
      </if>
      <if test="modelType != null">
        #{modelType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ef.jcpt.manage.dao.model.PopadsModel">
    update ef_popads_model
    <set>
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelDesc != null">
        model_desc = #{modelDesc,jdbcType=VARCHAR},
      </if>
      <if test="modelContent != null">
        model_content = #{modelContent,jdbcType=VARCHAR},
      </if>
      <if test="modelStatus != null">
        model_status = #{modelStatus,jdbcType=VARCHAR},
      </if>
      <if test="modelType != null">
        model_type = #{modelType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ef.jcpt.manage.dao.model.PopadsModel">
    update ef_popads_model
    set model_name = #{modelName,jdbcType=VARCHAR},
      model_desc = #{modelDesc,jdbcType=VARCHAR},
      model_content = #{modelContent,jdbcType=VARCHAR},
      model_status = #{modelStatus,jdbcType=VARCHAR},
      model_type = #{modelType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getModelIdNamePair" resultType="java.util.Map">
		SELECT id,model_name from ef_popads_model where model_status='01'
	</select>
</mapper>